In [1]:
import numpy as np
import matplotlib.pyplot as plt
from numpy.core.fromnumeric import reshape
import pandas as pd
import datetime
import time
from sklearn import preprocessing
import datetime
#Where to specify how many rows and columns there are.
#Note : Automatically finds the number of rows in the following lines
ROWCOUNT = 1
COLUMNCOUNT = 9
#CSV file path and name
name = "FILE NAME WITHOUT EXTENSION"

datas      = pd.read_csv(name+".csv", header=1)
datas      = datas.values.tolist()

In [2]:
#Automatically finds the number of rows. Note: It gives an error if the column number is entered incorrectly
try :
    datas      = np.array([[i.split('\t') for i in k] for k in datas]).reshape(ROWCOUNT,COLUMNCOUNT)
except Exception as e:
    s = str(e).split()
row = int(int(s[5])/COLUMNCOUNT)
datas      = np.array([[i.split('\t') for i in k] for k in datas]).reshape(row,COLUMNCOUNT)

if COLUMNCOUNT ==8 :
    datas_df   = pd.DataFrame(datas,columns=['Date','Open','High','Low','Close','Tickvol','Vol','Spread'])
elif COLUMNCOUNT ==9:
    datas_df   = pd.DataFrame(datas,columns=['Date','Time','Open','High','Low','Close','Tickvol','Vol','Spread'])

#If you don't want to deal with having the file read over and over, use the comment line below.

#import dill
#dill.dump_session(path+name+'.db')

datas_df

,Date,Time,Open,High,Low,Close,Tickvol,Vol,Spread
0,1999.01.04,10:23:00,1.18170,1.18180,1.18040,1.18140,18,0,50
1,1999.01.04,10:24:00,1.18170,1.18170,1.18020,1.18060,12,0,50
2,1999.01.04,10:25:00,1.18070,1.18150,1.17950,1.18080,26,0,50
3,1999.01.04,10:26:00,1.18030,1.18060,1.17900,1.18060,4,0,50
4,1999.01.04,10:27:00,1.18010,1.18010,1.17790,1.17860,23,0,50
...,...,...,...,...,...,...,...,...,...
8356238,2022.03.10,18:57:00,1.10035,1.10053,1.10029,1.10049,41,0,0
8356239,2022.03.10,18:58:00,1.10049,1.10069,1.10026,1.10029,106,0,0
8356240,2022.03.10,18:59:00,1.10030,1.10076,1.10029,1.10068,134,0,0
8356241,2022.03.10,19:00:00,1.10069,1.10079,1.10054,1.10066,122,0,0
8356242,2022.03.10,19:01:00,1.10066,1.10070,1.10065,1.10069,17,0,0

In [3]:
#To convert the date to timestamp format. Comment here if you don't want to use it.
"""
timestamp = datas_df['Date']

if 'Time' in datas_df.columns:
    timestamp = datetime.datetime.timestamp(datas_df['Date']+" "+datas_df['Time'],format='%Y.%m.%d %H:%M:%S')
    datas_df = datas_df.drop('Time',axis=1)
else :
    timestamp =datetime.datetime.timestamp(datas_df['Date'],format='%Y.%m.%d')
    
#To discard unnecessary data.
datas_df = datas_df.drop(columns=['Vol'])
datas_df = datas_df.drop(columns=['Tickvol'])
datas_df = datas_df.drop(columns=['Spread'])
datas_df['Date'] = timestamp
"""

'\ntimestamp = datas_df[\'Date\']\n\nif \'Time\' in datas_df.columns:\n    timestamp = datetime.datetime.timestamp(datas_df[\'Date\']+" "+datas_df[\'Time\'],format=\'%Y.%m.%d %H:%M:%S\')\n    datas_df = datas_df.drop(\'Time\',axis=1)\nelse :\n    timestamp =datetime.datetime.timestamp(datas_df[\'Date\'],format=\'%Y.%m.%d\')\n    \n#To discard unnecessary data.\ndatas_df = datas_df.drop(columns=[\'Vol\'])\ndatas_df = datas_df.drop(columns=[\'Tickvol\'])\ndatas_df = datas_df.drop(columns=[\'Spread\'])\ndatas_df[\'Date\'] = timestamp\n'

In [4]:
#Activate this line if you want to use sin cos time loops instead of using the timestamp above.
#Comment here if you don't want to use it.
"""
circles = pd.DatetimeIndex(datas_df['Date'])
n2 = pd.DataFrame()
m  = (2 * np.pi * circles.month/12)
w  = (2 * np.pi * pd.Series(circles).dt.isocalendar().week/(52.177457))
d  = (2 * np.pi * circles.day/(365.242199))
h  = (2 * np.pi * circles.hour/24)
mi = (2 * np.pi * circles.minute/60)

n2['month_sin']  =  np.round(np.sin(m),5)
n2['month_cos']  =  np.round(np.cos(m),5)
n2['weekly_sin'] =  np.round(np.sin(w),5)
n2['weekly_cos'] =  np.round(np.cos(w),5)
n2['day_sin']   =  np.round(np.sin(d),5)
n2['day_cos']   =  np.round(np.cos(d),5)
n2['hour_sin']  =  np.round(np.sin(h),5)
n2['hour_cos']  =  np.round(np.cos(h),5)
n2['minute_sin'] = np.round(np.sin(mi),5)
n2['minute_cos'] = np.round(np.cos(mi),5)

datas_df = datas_df.drop(columns=['Date'])
#datas_df = datas_df.drop(columns=['Time'])
"""

"\ncircles = pd.DatetimeIndex(datas_df['Date'])\nn2 = pd.DataFrame()\nm  = (2 * np.pi * circles.month/12)\nw  = (2 * np.pi * pd.Series(circles).dt.isocalendar().week/(52.177457))\nd  = (2 * np.pi * circles.day/(365.242199))\nh  = (2 * np.pi * circles.hour/24)\nmi = (2 * np.pi * circles.minute/60)\n\nn2['month_sin']  =  np.round(np.sin(m),5)\nn2['month_cos']  =  np.round(np.cos(m),5)\nn2['weekly_sin'] =  np.round(np.sin(w),5)\nn2['weekly_cos'] =  np.round(np.cos(w),5)\nn2['day_sin']   =  np.round(np.sin(d),5)\nn2['day_cos']   =  np.round(np.cos(d),5)\nn2['hour_sin']  =  np.round(np.sin(h),5)\nn2['hour_cos']  =  np.round(np.cos(h),5)\nn2['minute_sin'] = np.round(np.sin(mi),5)\nn2['minute_cos'] = np.round(np.cos(mi),5)\n\ndatas_df = datas_df.drop(columns=['Date'])\n#datas_df = datas_df.drop(columns=['Time'])\n"

In [5]:
#If you want to use datetime as is.
datas_df['Date'] = pd.to_datetime(datas_df['Date']+" "+datas_df['Time'],format='%Y.%m.%d %H:%M:%S')

In [6]:
#To collect datetime OR circles and the rest of the data.
datas_df = pd.concat([
                      datas_df['Date'],
                      #datas_df['Timestamp'],
                      datas_df['Open'],
                      datas_df['High'],
                      datas_df['Low'],
                      datas_df['Close'],
                      #n2['month_sin'],n2['month_cos'],
                      #n2['weekly_sin'],n2['weekly_cos'],
                      #n2['day_sin'],n2['day_cos'],
                      #n2['hour_sin'],n2['hour_cos'],
                      #n2['minute_sin'],n2['minute_cos']
                      ],axis=1)
datas_df

                       Date     Open     High      Low    Close
0       1999-01-04 10:23:00  1.18170  1.18180  1.18040  1.18140
1       1999-01-04 10:24:00  1.18170  1.18170  1.18020  1.18060
2       1999-01-04 10:25:00  1.18070  1.18150  1.17950  1.18080
3       1999-01-04 10:26:00  1.18030  1.18060  1.17900  1.18060
4       1999-01-04 10:27:00  1.18010  1.18010  1.17790  1.17860
...                     ...      ...      ...      ...      ...
8356238 2022-03-10 18:57:00  1.10035  1.10053  1.10029  1.10049
8356239 2022-03-10 18:58:00  1.10049  1.10069  1.10026  1.10029
8356240 2022-03-10 18:59:00  1.10030  1.10076  1.10029  1.10068
8356241 2022-03-10 19:00:00  1.10069  1.10079  1.10054  1.10066
8356242 2022-03-10 19:01:00  1.10066  1.10070  1.10065  1.10069

[8356243 rows x 5 columns]

In [7]:
#I have determined 2 different outputs according to which time type you have chosen.

#datas_df.to_csv(path+name+"_DataFrame", columns =['Open','High','Low','Close',"month_sin","month_cos","weekly_sin","weekly_cos","day_sin","day_cos","hour_sin","hour_cos","minute_sin","minute_cos"])
datas_df.to_csv(name+"_DataFrame.csv", columns =['Date','Open','High','Low','Close'])